body {
    margin: 0;
    padding: 0;
    background-color: lightgray; 
}


nav {
    background-color: blue;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
}


aside {
    position: fixed;
    right: 0;
    background-color: red;
    height: 100%;
    width: 20%;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

aside a {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    background-color: #000;
}
